manifest {
    name = 'RNAseq'
    version = '1.0.0'
    description = 'super cool RNAseq workflow'
}

// Global default params
params {

    // Input options
    input               = null
    genomeFasta         = null
    gtfFile             = null
    arm                 = null
    amd                 = null
}

process {
    container = 'ubuntu'

    if (params.arm) {

        withName: FASTQC {
            container = 'community.wave.seqera.io/library/fastqc:0.12.1--d3caca66b4f3d3b0'
        }

        withName: TRIMGALORE {
            container = 'community.wave.seqera.io/library/trim-galore:0.6.10--2379bccd9067a62e'
        }

        withName: STAR_GENOMEGENERATE {
            container = 'community.wave.seqera.io/library/star:2.7.11b--37b6a1381d347e82'
            memory = '4G'
            cpus = 3
        }

        withName: STAR_ALIGN {
            container = 'community.wave.seqera.io/library/star:2.7.11b--37b6a1381d347e82'
            memory = '4G'
            cpus = 3
        }

        withName: MARKDUPLICATES {
            container = 'community.wave.seqera.io/library/picard:3.2.0--c0c95f5e428229b4'
        }

        withName: RSEM_PREPARE_REFERENCE {
            container = 'quay.io/biocontainers/mulled-v2-cf0123ef83b3c38c13e3b0696a3f285d3f20f15b:64aad4a4e144878400649e71f42105311be7ed87-0'
        }

        withName: SALMON_INDEX {
            container = 'community.wave.seqera.io/library/salmon:1.10.3--d626d56be2e328d6'
        }

        withName: SALMON_QUANTIFICATION {
            container = 'community.wave.seqera.io/library/salmon:1.10.3--d626d56be2e328d6'
        }

    }

    else if (params.amd) {

        withName: FASTQC {
            container = 'community.wave.seqera.io/library/fastqc:0.12.1--5cfd0f3cb6760c42'
        }

        withName: TRIMGALORE {
            container = 'community.wave.seqera.io/library/trim-galore:0.6.10--e1d78c153f940cdf'
        }

        withName: STAR_GENOMEGENERATE {
            container = 'community.wave.seqera.io/library/star:2.7.11b--5111d41e4f526076'
            memory = '4G'
            cpus = 3
        }

        withName: STAR_ALIGN {
            container = 'community.wave.seqera.io/library/star:2.7.11b--5111d41e4f526076'
            memory = '4G'
            cpus = 3
        }

        withName: MARKDUPLICATES {
            container = 'community.wave.seqera.io/library/picard:3.2.0--aad6e5f2660fd968'
        }

        withName: RSEM_PREPARE_REFERENCE {
            container = 'quay.io/biocontainers/mulled-v2-cf0123ef83b3c38c13e3b0696a3f285d3f20f15b:64aad4a4e144878400649e71f42105311be7ed87-0'
        }

        withName: SALMON_INDEX {
            container = 'community.wave.seqera.io/library/salmon:1.10.3--482593b6cd04c9b7'
        }

        withName: SALMON_QUANTIFICATION {
            container = 'community.wave.seqera.io/library/salmon:1.10.3--482593b6cd04c9b7'
        }

    }

    else {

        withName: FASTQC {
            container = 'community.wave.seqera.io/library/fastqc:0.12.1--5cfd0f3cb6760c42'
        }

        withName: TRIMGALORE {
            container = 'community.wave.seqera.io/library/trim-galore:0.6.10--e1d78c153f940cdf'
        }

        withName: STAR_GENOMEGENERATE {
            container = 'community.wave.seqera.io/library/star:2.7.11b--5111d41e4f526076'
            memory = '4G'
            cpus = 3
        }

        withName: STAR_ALIGN {
            container = 'community.wave.seqera.io/library/star:2.7.11b--5111d41e4f526076'
            memory = '4G'
            cpus = 3
        }

        withName: MARKDUPLICATES {
            container = 'community.wave.seqera.io/library/picard:3.2.0--aad6e5f2660fd968'
        }

        withName: RSEM_PREPARE_REFERENCE {
            container = 'quay.io/biocontainers/mulled-v2-cf0123ef83b3c38c13e3b0696a3f285d3f20f15b:64aad4a4e144878400649e71f42105311be7ed87-0'
        }

        withName: SALMON_INDEX {
            container = 'community.wave.seqera.io/library/salmon:1.10.3--482593b6cd04c9b7'
        }

        withName: SALMON_QUANTIFICATION {
            container = 'community.wave.seqera.io/library/salmon:1.10.3--482593b6cd04c9b7'
        }
    }

}

docker {
    enabled = true
}