// Global default params
params {

    // Input options
    input               = null
    genomeFasta         = null
    gtfFile             = null
}

process {
    container = 'ubuntu'

    withName: FASTQC {
        container = 'community.wave.seqera.io/library/fastqc:0.12.1--5cfd0f3cb6760c42'
    }

    withName: TRIMGALORE {
        container = 'community.wave.seqera.io/library/trim-galore:0.6.10--e1d78c153f940cdf'
    }

    withName: STAR {
        container = 'community.wave.seqera.io/library/star:2.7.11b--5111d41e4f526076'
    }

}

docker {
    enabled = true
}